.cajon.color-primario 
  background-color: #F1CBDC

.BorTit
  border-left: 5px solid $color-acento-contenido
  padding: 6px 0px 6px 10px

.BorTit1
  border-left: 5px solid $color-primario
  padding: 6px 0px 6px 10px

.img-a 
  display: block 
  margin: auto   
  width: auto
  height: auto

.hr
  border: dashed #206491

.bloque-texto-b::before
  top: 0% !important
  left: 0% !important
  width: 40% !important
  height: 50% !important
  background-color: #BDDDF5 !important

.bloque-texto-a.color-secundario 
  background-color: #E8E8E8

.jumbo_1
  background-color: #BF3976

.jumbo_2
  background-color: #E9D0DB
  border-radius: 0.5em

.jumbo_3
  background-color: #E9D0DB

.jumbo_4
  background-color: #339CE9

.bg_white
  background-color: $white !important

.tarjeta--azul
  background-color: #E5FAFA

.tabs-c__tab
  background-color: #BF3976
  color: $white !important
  

.tabs-c.color-primario .tabs-c__tab--active 
  background-color: #E9D0DB
  border-radius: 0.5em
  color: $color-sistema-texto !important

.tabs-c__tab--active:before 
  width: 0
  height: 0
  border-left: 40px solid transparent
  border-right: 40px solid transparent
  border-top: 40px solid
  left: 50%
  top: calc(100% + 21px)

.tabs-b__tab
  background-color: #E9D0DB
  &:hover 
    background-color: #BF3976 !important
    span
      color: $white !important
    img
      content:url("../assets/curso/tema_2/img_13.png") !important

.tabs-b__tab--active
  background-color: #BF3976
  color: $white
  img
    content:url("../assets/curso/tema_2/img_13.png") !important

.tabs-b.color-acento-contenido .tabs-b__tab--active 
  border-top-color: #BF3976 !important
  

  

.tarj-azul
  background-color: #BDDDF5

.im_top
  margin-top: -167px


.Buton_a
  background-color: #DBB5C5 
  color: $color-sistema-texto 

  &:hover 
    background-color: #BF3976 !important
    h4 
      color: $white !important
    img
      content:url("../assets/curso/tema_2/img_13.png") !important

  &:focus
    background-color: #BF3976 !important
    h4 
      color: $white !important
    img
      content:url("../assets/curso/tema_2/img_13.png") !important
        
.Buton_r
  background-color: #339CE9
  color: $color-sistema-texto 

  &:focus
    background-color: #339CE9 !important
    

.Buton_g
  background-color: #BF3976
  color: $color-sistema-texto 

  &:focus
    background-color: #BF3976 !important

  &:hover 
    background-color: #8F2B58 !important

  
  
    
    
    
  

.ClasePripiaBtn
  width: 100%
  


.slide-fade-enter-active 
  transition: all .3s ease

.slide-fade-leave-active 
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-fade-enter, .slide-fade-leave-to
  transform: translateX(10px)
  opacity: 0

.tarjeta_img
  background-image: url("../assets/curso/tema_4/img_1.png")

.tarjeta_img1
  background-image: url("../assets/curso/tema_4/img_17.png")

.slyder-a__bullets
  bottom: 0px !important

@media (min-width: 1200px)
  .col-xl-3 
    flex: 0 0 auto
    width: 16%

@media (min-width: 1200px)
  .col-xl-9
    flex: 0 0 auto
    width: 82%

.tabs-a.color-acento-contenido .tabs-a__tab__selected 
  color: $white !important

.bg_tab
  background-color: #339CE9 !important








